siteconf/
httpdocs/images/
httpdocs/.htaccess
httpdocs/scripts/mail.php
httpdocs/scripts/recaptcha.php
httpdocs/scripts/phpmailer.php
httpdocs/vendor/
httpdocs/PHPMailer/
httpdocs/mailer.php
.vscode/
vendor/
PHPMailer/
.env
