siteconf/secrets.php
public/images/
public/.htaccess
public/scripts/mail.php
public/scripts/recaptcha.php
public/scripts/phpmailer.php
public/vendor/
public/PHPMailer/
public/mailer.php
.vscode/
vendor/
PHPMailer/
.env
.env.dev
.env.publicdev